<div class="todo-list">
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="newItemText" ng-enter="addNewItem()" placeholder="Some task to do"></input>
      </div>
      <div class="form-group">
        <button class="btn btn-default" ng-click="removeDone()">
            <span class="glyphicon glyphicon-filter"></span>
        </button>
      </div>
    </form>
    <div>
        <ul>
            <li ng-repeat="item in getItems()">
                <div class="task-text">
                    <span ng-class="{strike: item.isDone()}">{{item.text}}</span>
                </div>
                <div class="task-control">
                    <button class="btn btn-default" ng-click="remove(item)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <div class="task-control">
                    <button class="btn btn-default" ng-click="setDone(item)" ng-show="!item.isDone()" >
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button class="btn btn-default" ng-click="setUndone(item)" ng-show="item.isDone()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <div class="clear" />
            </li>
        </ul>
    </div>
</div>
