<div class="todo-list">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="newItemText" ng-enter="addNewItem()" placeholder="Some task to do"></input>
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="removeDone()">
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-lg-6">
        </div>
    </div>
    <table>
    <tr ng-repeat="item in getItems()">
        <td>
            <span ng-class="{strike: item.isDone()}">{{item.text}}</span>
        </td>
        <td>
            <button class="btn btn-default" ng-click="remove(item)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
        <td>
            <button class="btn btn-default" ng-click="item.setDone()" ng-show="!item.isDone()" >
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button class="btn btn-default" ng-click="item.setUndone()" ng-show="item.isDone()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
        </li>
    </tr>
    </table>
</div>
